doctype html
html(lang="ru")
    include ../includes/_head

    body
        include ../includes/_header
        include ../includes/_section_one
        include ../includes/_section_two
        include ../includes/_section_three
        include ../includes/_section_four
        include ../includes/_section_five
        include ../includes/_section_info
        include ../includes/_section_six
        include ../includes/_section_seven
        include ../includes/_footer

        include ../includes/_scripts