footer
    .container
        h2 Авто которые мы уже привезли
        .our_works__wrapper.owl-carousel
                figure.our_works_item
                    img(src='img/already-6_big-1.jpg')
                    figcaption Hyundai Sonata 2013
                    figcaption 15 900 $
                figure.our_works_item
                    img(src='img/already-6_big-1.jpg')
                    figcaption Hyundai Sonata 2013
                    figcaption 15 900 $
                figure.our_works_item
                    img(src='img/already-6_big-1.jpg')
                    figcaption Hyundai Sonata 2013
                    figcaption 15 900 $
                figure.our_works_item
                    img(src='img/already-6_big-1.jpg')
                    figcaption Hyundai Sonata 2013
                    figcaption 15 900 $
        .button__wrapper
            button.form_button Подобрать авто
.footer
    .container
        .footer__wrapper