section.section_two#section_two
    .container
        .section_two__wrapper
            h2 Преимущества покупки авто в США
            span С 1-го января 2018 года в Украине отменили
                |НДС и акциз на импорт электромобилей
            .advantages__wrapper
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-1.png')
                    h4 Низкие цены
                    p Стоимость электромобиля
                        |на 40-50% дешевле,
                        |чем в Украине.
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-2.png')
                    h4 История эксплуатации
                    p Возможность проверить
                        |полную историю автомобиля
                        |в базах
                        |CARFAX и AUTOCHECK.
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-3.png')
                    h4 Техическое состояние
                    p Идеальные дороги Америки
                        |позволяют сохранить
                        |машины в отличном
                        |состоянии.
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-4.png')
                    h4 Богатая комплектация
                    p Американская базовая комплектация лучше европейской.
                        |Климат контроль, люк или панорамная крыша, легкосплавные диски,
                        |кожа и т.д.