section.section_three
    .container
        h2 6 шагов к приобретению автомобиля
        .steps__wrapper
            .steps_item
                .item_headline(data-number='1')
                    h5 Подбор автомобиля
                p Подбор и тщательная проверка истории автомобиля перед покупкой. Мы подбираем лучшие авто, учитывая Ваши пожелания и бюджет

                .item_headline(data-number='2')
                    h5 Покупка авто
                p От Вашего имени покупаем автомобиль в любой стране Европы согласно доступного бюджета.
                .item_headline(data-number='3')
                    h5 Оформление документов
                p Оформление документации для транспортировки купленного авто
            .steps_item
                img(src='img/step.png')
            .steps_item
                .item_headline(data-number='4')
                    h5 Доставка авто
                p Доставка автомобиля в Украину.
                    | Наши логисты доставят авто в целости и сохранности.
                .item_headline(data-number='5')
                    h5 Довольный клиент
                p Спустя 2-7 рабочих дней, вы получаете свой новый автомобиль, уже в Украине.
                .item_headline(data-number='6')
                    h5 Безопасность клиента
                p Страхуем Ваше авто на всех этапах взаимодействия и даем гарантию
        .button__wrapper
          button.steps_button Подобрать авто
.line_auction
    .container
        h2 Аукционы с которыми мы работаем
        .line_auction__wrapper
            a(href='https://www.mobile.de/')
                img(src='img/mobilede-logo-C7AD259F8A-seeklogo.com.gif')
            a(href='https://www.autorola.eu')
                img(src='img/Autorola-500x236.png')
            a(href='https://www.kvd.se')
                img(src='img/i0shvgv6hm5t9lpjcurn.webp')
            a(href='https://www.autobid.de')
                img(src='img/autobid.de.png')
.line_form
    .container
        .line_form__wrapper
            .block_headline_lineform
                span Заполните форму
                p и наш менеджер отправит Вам на почту, пошаговою
                    |инструкцию по подбору и покупке авто на аукционе в США.
            form.form_block(method='post')
                p Получите инструкцию
                input(name='name', placeholder='Ваше Имя', autocomplete="disabled").input
                input(name='phone', placeholder='Ваш Телефон', autocomplete="disabled").input
                input(name='email', placeholder='Ваш E-mail', autocomplete="disabled").input
                .button_input
                    input(name='submit', type='submit', value='Получить')#form_button