section.section_two#section_two
    .container
        .section_two__wrapper
            h2 	Преимущества покупки авто в Европе
            //span С 1-го января 2018 года в Украине отменили
            //    |НДС и акциз на импорт электромобилей
            .advantages__wrapper
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-1.png')
                    h4 Низкие цены
                    p В Европе автомобиль стоит на порядок дешевле чем в УКРАИНЕ
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-2.png')
                    h4 Качественный подбор авто
                    p мы подбираем по всем критериям и параметрам автомобиль для клиента.
                        | Огромный опыт работы поможет нам выбрать самое лучше авто для вас.
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-3.png')
                    h4 Техическое состояние
                    p Идеальные дороги Европы позволяют сохранить машины в отличном состоянии.
                .advantages_item
                    .advantages_item_img
                        img(src='img/advantages-4.png')
                    h4 Срок доставки
                    p мы гарантируем что пригоним вам автомобиль от 2 до 7 рабочих дней