section.section_four
    .container
        h2 Коротко о нас
        .about__wrapper
            .section_four_about.left
                .text__wrapper
                    h5 Компания DreamCar
                    .line
                    span Уверенно шагая в будущее компания DreamCar вот уже больше 4 лет успешно сотрудничает с аукционами в Америке и занимается доставкой автомобилей в Украину. За время работы мы стали одними из лучших компаний-поставщиков на територии СНГ, об этом свидетельствует большой выбор электрокаров и доверие клиентов.

                        | Благодаря налаженным связям с американскими партнерами каждая сделка с украинским клиентом проход в оговоренные сроки и без скрытых оплат.

                        |Мы всегда рады помочь, проконсультировать и направить в правильное русло нашего клиента или человека, который только заинтересовался машинами будущего.

            .section_four_about.right
                .about_right_item
                    figure
                        img(src='img/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg')
                        figcaption Александров Александров
                        span Владелец
                .about_right_item
                    figure
                        img(src='img/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg')
                        figcaption Александров Александров
                        span Владелец
                .about_right_item
                    figure
                        img(src='img/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg')
                        figcaption Александров Александров
                        span Владелец
                .about_right_item
                    figure
                        img(src='img/c0b77faeb2cb3e67fd1b423c4535f6c3.jpg')
                        figcaption Александров Александров
                        span Владелец
