section.section_five
    .container
        h2 Пакеты нашых услуг
        .price_wrapper
            .item_price
                .headline
                    h5 Basic
                    h5 250 $
                .item_text_block
                    p Выкуп авто на аукционе
                    p Доставка авто в порт Одессы
                    p Предоставляем контакты брокера
                    .button_container
                        button.form_button Заказать услугу
            .item_price
                .headline
                    h5 Standart
                    h5 500 $
                .item_text_block
                    p Поиск и помощь в выборе авто
                    p Проверка автомобиля
                    p Выкуп авто на аукционе
                    p Доставка авто в порт Одессы
                    p Помощь с документами и растаможкой
                    .button_container
                        button.form_button Заказать услугу
            .item_price
                .headline
                    h5 Premium
                    h5 800 $
                .item_text_block
                    p Поиск и помощь в выборе авто
                    p Проверка автомобиля
                    p Выкуп авто на аукционе
                    p Доставка авто в порт Одессы
                    p Помощь с документами и растаможкой
                    p Подбор запчастей и ремонт на нашем СТО
                    p Сертификация авто
                    p Постановка на учет
                    .button_container
                        button.form_button Заказать услугу