section.section_seven
    .container
        h2 Часто задаваемые вопросы
        ul.accordion-menu
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Когда я плачу за автомобиль?
                .submenuItems
                    p Вы делаете оплату за авто сразу после того как мы его приобрели для Вас в США. В течении 2 суток после покупки (но не позднее чем через 3 суток),
                        |иначе аукцион будет взымать плату за простой авто у них на стоянке.
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Как я могу оплатить автомобиль?
                .submenuItems
                    p Перед торгами Вы оставляете залог в размере 10% от вашей максимальной
                        | ставки. И мы начинаем торги. Как только автомобиль куплен,
                        | Вам необходимо оплатить его в течении 2 дней. Вы можете сделать
                        | оплату через Приват банк с помощью платежного документа (инвойс)
                        | (в котором указываються все ваши данные и данные автомобиля который
                        | вы покупаете) прямо на счет нашего дилера или напрямую на аукцион-по желанию клиента.
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Какие гарантии при покупке автомобиля?
                .submenuItems
                    p Перед покупкой автомобиля мы подпишем с Вами договор, который минимизирует риски обеих сторон и повысит безопасность сделки.
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Могу ли я забрать свой залог?
                .submenuItems
                    p Вы можете забрать свой залог в любой удобное для Вас время, до покупки автомобиля.
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Как я могу убедиться, что я оплатил именно тот автомобиль, который купил?
                .submenuItems
                    p На каждый купленный автомобиль клиентом выдается индивидуальный тех паспорт, а так же Вы будете видеть свой лот на аукционе дилера. Вы оплачиваете авто по инвойсу через банк на ваше имя.
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Какие документы мне нужны для того, что бы получить свой автомобиль?
                .submenuItems
                    p Вам необходим тех паспорт на авто (Title) который мы высылаем почтой прямо из США, так же инвойс по которому Вы делали оплату в банке и копии своих паспортных данных.
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Какая стоимость доставки автомобиля из США в Украину?
                .submenuItems
                    p Средняя стоимость наземной доставки +- 500$
                     | Средняя стоимость доставки по морю - 800$
            li
                p.dropdownlink.fa.fa-road(aria-hidden="true") Сколько времени займет доставка автомобиля из Америки?
                .submenuItems
                    p Доставка автомобиля занимает в среднем 2 месяца.