section.section_six
    .container
        h2 Отзывы наших клиентов
        .carousel__wrapper.owl-carousel
            .carousel_item
                .img_container
                    img(src='img/review-2.png')
                .review_info
                    span Станислав
                    p Land Rover Discovery
                    span 45 000 $
                    p Живу в пригороде Киева, ежедневно проезжая с работы и обратно около 80 км. Затратно довольно получается, проезд сьедает большую часть зарплаты.
                        |Решил, что электрокар – выгодное вложение в долгосрочной перспективе. Заказывал у ребят DreamCar, доставили быстро, езжу уже 2 неделю и не нарадуюсь.
            .carousel_item
                .img_container
                    img(src='img/review-1.png')
                .review_info
                    span Наталья Маскова
                    p Nisan Leaf
                    span 8 800 $
                    p Всегда думала, что электрокары – это немыслимо дорого. Езжу очень много по городу практически ежедневно, поэтому мысль о покупке не давала мне покоя, я искал варианты.
                        | Случайно наткнулася на этот сайт, изучила и взвесила всю информацию, решилась и заказала. Ну что могу сказать – не жалею, на одном заряде проезжаю около 100 км!