section.section_three
    .container
        h2 6 шагов к приобретению автомобиля
        .steps__wrapper
            .steps_item
                .item_headline(data-number='1')
                    h5 Подбор автомобиля
                p Мы подбираем лучшие авто,
                    |учитывая Ваши пожелания и бюджет.
                    |Проверяем документацию и историю автомобиля.

                .item_headline(data-number='2')
                    h5 Предоплата
                p Вы вносите страховой депозит в размере 10% от стоимости автомобиля. В случае изменения Ваших планов или отказа работы с нашей компанией, мы возвращаем Вам всю внесенную сумму.
                .item_headline(data-number='3')
                    h5 Оплата и Доставка
                p После приобретения автомобиля на аукционе, Вы оплачиваете полную стоимость машины в течении 3-х рабочих дней. Электрокар доставляется в ближайший порт Америки. Осуществляем погрузку и делаем фото/видео отчет.
            .steps_item
                img(src='img/step.png')
            .steps_item
                .item_headline(data-number='4')
                    h5 Прибытие в Украину
                p Проводим экспедирование груза и выгрузку в порту Одессы. Приблизительное время доставки из Америки в Украину составляет 30 дней.
                .item_headline(data-number='5')
                    h5 Таможня и документы
                p Наш таможенный брокер заранее подготавливат все нужные документы и проводит растаможку автомобиля если авто с ДВС .
                .item_headline(data-number='6')
                    h5 Передача авто владельцу
                p Передаем автомобиль и пакет документов владельцу. После чего помогаем с поиском запчастей и ремонтом, если Вы в этом нуждаетесь.
        .button__wrapper
          button.steps_button Подобрать авто
.line_auction
    .container
        h2 Аукционы с которыми мы работаем
        .line_auction__wrapper
            a(href='#')
                img(src='img/auction-1.png')
            a(href='#')
                img(src='img/auction-2.png')
            a(href='#')
                img(src='img/auction-3.png')
.line_form
    .container
        .line_form__wrapper
            .block_headline_lineform
                span Заполните форму
                p и наш менеджер отправит Вам на почту, пошаговою
                    |инструкцию по подбору и покупке авто на аукционе в США.
            form.form_block(method='post')
                p Получите инструкцию
                input(name='name', placeholder='Ваше Имя', autocomplete="disabled").input
                input(name='phone', placeholder='Ваш Телефон', autocomplete="disabled").input
                input(name='email', placeholder='Ваш E-mail', autocomplete="disabled").input
                .button_input
                    input(name='submit', type='submit', value='Получить')#form_button