section.section_info
    .container
        .info_wrapper
            .info_item
                .img_container
                    img(src='img/car.png')
            .info_item
                span Как выглядит процедура покупки и доставки
                p Для начала вы определяете желаемую марку и модель авто, комплектацию,
                    | объём двигателя и другие параметры. При необходимости занимайтесь выбором совместно
                    | с сотрудником …………….. Посоветуем ту машину, которая как можно лучше соответствует
                    | вашим пожеланиям и требованиям.
                ol Далее следуют такие этапы:
                    li - поиск выбранного автомобиля на авторынке Европы , с учётом ценовой политики,
                      | марки, типа двигателя и других нюансов. Мы тщательно перепроверяем все транспортные
                      | средства, чтобы сделка купли-продажи прошла максимально прозрачно;
                    li - согласование с вами. Мы делимся своими находками и выдвигаем вам несколько предложений. Остановитесь на том, которое полностью вас устроит;
                    li - оформление пакета бумаг. Самый сложный процесс. Достаточный опыт и знания позволяют нам выполнять процедуры быстро и качественно.
                p Когда машина куплена, приступаем к пригону авто из  Европы в Украину. В процессе доставки мы максимально обеспечиваем безопасность вашего  транспортного средства.
                    | Оставляем автомобиль только на  охраняемых парковках, что исключает вандализм.
            .info_item
                span Сколько будет стоить растаможка
                p Доставка авто из Европы  в Украину – это лишь часть большого процесса.
                    | Дальше последует ещё один важный этап – растаможка. Во сколько обойдётся эта
                    | процедура?
                ol Стоимость зависит от следующих факторов:
                    li - объём двигателя и тип топлива;
                    li - возраст автомобиля;
                    li - вес транспортного средства – актуально для грузовиков и автобусов.
                p При растаможке оплачиваются услуги таможенного оформления, пошлина (10% от
                 | стоимости машины), акциз и НДС. В целом вы можете самостоятельно заниматься этими
                 | вопросами. Но мы рекомендуем заказывать пригон авто из Европы в Украину с растаможкой.
                 | В таком случае вы получаете уже растаможенное транспортное средство, и останется лишь
                 | решить все вопросы в МРЕО.

            .info_item
                .img_container
                    img(src='img/opel_PNG6.png')